.item{
	background:teal;
	width: 300px;
	height:200px;
	color:white;
	align-items: center;
	justify-content:center;
	padding: 10px;
	margin:10px;
	border-radius:10px;
}

button{
	width:100px;
	background: white;
	outline:none;
	border-radius: 100px;
	border:0;
	padding: 8px;
	cursor: pointer;

}

button:hover{
	background: tomato;
	color:white;
}

.title{
	text-align: center;
	color:teal;
	margin: 10px;
	border-bottom: 2px solid gray
}
.items{
	align-items: center;
	display: flex;
	justify-content:center
}